<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Patient Report</title>
</head>

<body>
  <a  onmouseover = "gen_text()" onclick="get_pdf()" onmouseleave = "gen_text()"><h1 id = "demo" class="text-center my-3 py-2 border border-secondary">Patient Report of {{n}}</h1></a>

  <div class="container">
  <h2 class = "my-2">
    Given X-ray:
  </h2>
  <img class = "my-2" src="{{xray}}" alt=" {{n}} xray">

  <div class="jumbotron jumbotron-fluid my-2 px-2">

      <h2>Covid Detection Result:</h2>

      <h2 class="my-2">
        {{res[0]}}
      </h2>
      <h2 class="my-2">
        {{res[1]}}
      </h2>
      <h2 class="my-2">
        {{res[2]}}
      </h2>
    </div>
    
</div>


<script>
  var x = document.getElementById("demo");
  const t = x.innerHTML
  function gen_text(){
    var x = document.getElementById("demo");
    const y = t
    if (x.innerHTML === "Click to download patient Report") {
    x.innerHTML = y;
  } else {
    x.innerHTML = "Click to download patient Report";
  }
    
  }

  function get_pdf(){
    var x = document.getElementById("demo");
    x.innerHTML = t;
    window.print();
    alert("pdf downloaded");
  }
</script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
